DOUYIN_CLIENT_KEY=
DOUYIN_CLIENT_SECRET=
DOUYIN_REDIRECT_URI=
DOUYIN_SCOPE=user_info
# Optional. Format follows Douyin docs, for example:
# DOUYIN_OPTIONAL_SCOPE=friend_relation,1,message,0
# DOUYIN_STATE=
DOUYIN_CODE=
DOUYIN_ACCESS_TOKEN=
DOUYIN_REFRESH_TOKEN=
DOUYIN_OPEN_ID=
DOUYIN_CLIENT_TOKEN=
DOUYIN_SHARE_ID=
